# Indexer 配置
INDEXER_ROOT_DIR=/app/config
INDEXER_LOG_LEVEL=info
INDEXER_LOG_FORMAT=console
INDEXER_DATABASE_SOURCE=postgres://abe_user:123456789@pg:5432/abe_indexer?sslmode=disable
INDEXER_DATABASE_MAX_IDLE_CONNS=10
INDEXER_DATABASE_MAX_OPEN_CONNS=20
INDEXER_DATABASE_CONN_MAX_LIFETIME=3600

# Bitcoin 配置
BITCOIN_NETWORK_NAME=testnet3
BITCOIN_RPC_HOST=https://bitcoin-testnet.drpc.org
BITCOIN_RPC_PORT=
BITCOIN_RPC_USER=
BITCOIN_RPC_PASS=
BITCOIN_DISABLE_TLS=true
BITCOIN_WALLET_NAME=
BITCOIN_ENABLE_INDEXER=true
BITCOIN_INDEXER_LISTEN_ADDRESS=:9090
BITCOIN_INDEXER_LISTEN_TARGET_CONFIRMATIONS=1

# Bridge 配置
BITCOIN_BRIDGE_ETH_RPC_URL=
BITCOIN_BRIDGE_ETH_PRIV_KEY=
BITCOIN_BRIDGE_CONTRACT_ADDRESS=
# ABI 配置：可以直接设置 ABI JSON 字符串，或留空使用默认 ABI
BITCOIN_BRIDGE_ABI=
BITCOIN_BRIDGE_AA_B2_API=
BITCOIN_BRIDGE_GAS_PRICE_MULTIPLE=2
BITCOIN_BRIDGE_B2_EXPLORER_URL=
BITCOIN_BRIDGE_WITHDRAW_ENABLE_LISTENER=false
BITCOIN_BRIDGE_DEPOSIT=
BITCOIN_BRIDGE_WITHDRAW=
BITCOIN_BRIDGE_UNISAT_API_KEY=
BITCOIN_BRIDGE_PUBLICKEYS=
BITCOIN_BRIDGE_TIME_INTERVAL=
BITCOIN_BRIDGE_MULTISIG_NUM=
BITCOIN_BRIDGE_ROLLUP_ENABLE_LISTENER=false 